<form #formCheck="ngForm" class="formCheck">
<mat-toolbar color="primary">
    <mat-toolbar-row>サイボウズ更新時通知機能登録</mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar name="progressbar" color="accent" mode="indeterminate" *ngIf="isExecution"></mat-progress-bar>
<div fxLayout="column" fxLayoutAlign=" start" class="wrapper">
    <mat-form-field>
        <mat-label>G-Suite アカウント</mat-label>
        <input matInput required type="email" [(ngModel)]="gsuite_account" #gsuiteAccount="ngModel" name="gsuiteAccount">
    </mat-form-field>
    <mat-form-field>
        <mat-label>サイボウズ　ログインＩＤ</mat-label>
        <input matInput required type="number"  [(ngModel)]="cybozu_id" #cybozuId="ngModel" name="cybozuId">
    </mat-form-field>
    <mat-form-field>
        <mat-label>サイボウズ　パスワード</mat-label>
        <input matInput required type="password"  [(ngModel)]="cybozu_password" #cybozuPassword="ngModel" name="cybozuPassword">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="execProcess();" [disabled]="formCheck.invalid">登録</button>
</div>
</form>